.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    padding: 20px;
    margin-top: 190px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.card{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    height: 310px;
    width: 240px;
    background-color:transparent;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    gap:20px;
    text-align: center;
}
.card img{
    width: 230px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
.card h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
}
